// Base button styles

// TODO: refactor this using main-colors list.

.btn {
  font-family: $font-primary;
  font-weight: $font-primary-normal;
  padding: .25em .75em;
  text-decoration: none;
  @include border-radius(2px);
  color: $opaque-white;
  background-color: $main-gray;
  &:hover, &:active { color: $white; }// For all buttons
  &:hover { background-color: lighten($main-gray, $hover-lighten); }// To be overridden with additional classes
  &:active { background-color: lighten($main-gray, $active-lighten); }// To be overridden with additional classes
  @each $color in $accent-colors {
    &.btn-#{nth($color, 1)} {
      background-color: #{nth($color, 2)};
      &:hover { background-color: lighten(nth($color, 2), $hover-lighten); }
      &:active { background-color: lighten(nth($color, 2), $active-lighten); }
    }
  }
  &.btn-dark {
    background-color: $main-gray-inverse;
    &:hover { background-color: lighten($main-gray-inverse, $hover-lighten); }
    &:active { background-color: lighten($main-gray-inverse, $active-lighten); }
  }
}

// Sizes

.btn-large {
  font-size: 120%;
  padding: .3em .9em;
}

.btn-small {
  font-size: 80%;
  padding: .2em .6em;
}

// Glow effect

.btn-glow {

}
