.btn {
  font-family: $sans-serif-primary;
  font-weight: 300;
  padding: .25em .75em;
  text-decoration: none;
  @include border-radius(2px);
  color: $opaque-white;
  background-color: $gray-light;
  &:hover { color: $white; }
  &:active { /* TODO */ }
  &.btn-red { background-color: $red; }
  &.btn-orange { background-color: $orange; }
  &.btn-yellow { background-color: $yellow; }
  &.btn-green { background-color: $green; }
  &.btn-blue { background-color: $blue; }
  &.btn-purple { background-color: $purple; }
  &.btn-pink { background-color: $pink; }
  &.btn-dark { background-color: $gray-darker; }
}
