.droppable {
  border: 5px dashed $gray-lighter;
  border-radius: 3px;
  height: 100%;
  @extend .transition-fast;
  span {
    color: $gray-light;
    position: relative;
    top: 33%;
    display: block;
    text-align: center;
    @extend .transition-fast;
  }
  &.active {
    border-color: $gray;
    span {
      color: $gray-dark;
    }
  }
  @each $color in $main-colors {
    &.droppable-#{nth($color, 1)}.active {
      border-color: nth($color, 2);
    }
  }
}
