/**
 * Header bar
 */

.header {
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
  background-color: $gray;
  border-bottom-color: $gray-light;
  padding: 10px;
  @include background-clip();
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: $white;
    small {
      color: $white;// For IE8
      color: $translucent-white;
    }
  }
  &.header-red {
    background-color: $red;
    border-bottom-color: $red-light;
  }
  &.header-orange {
    background-color: $orange;
    border-bottom-color: $orange-light;
  }
  &.header-yellow {
    background-color: $yellow;
    border-bottom-color: $yellow-light;
  }
  &.header-green {
    background-color: $green;
    border-bottom-color: $green-light;
  }
  &.header-blue {
    background-color: $blue;
    border-bottom-color: $blue-light;
  }
  &.header-purple {
    background-color: $purple;
    border-bottom-color: $purple-light;
  }
  &.header-pink {
    background-color: $pink;
    border-bottom-color: $pink-light;
  }
}