table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
  thead {
    tr {
      border-top: .125em solid $opaque-black;
      border-bottom: .125em solid $opaque-black;
    }
  }
  tbody {
    tr {
      border-bottom: .0625em solid $opaque-black;
    }
  }
  th {
    padding: 1em 0.5em;
  }
  td {
    padding: 0.5em;
  }
}
