/**
 * A place for miscellaneous mixins and classes.
 */

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.left { text-align: left; }

.center { text-align: center; }

.right { text-align: right; }

.pull-right { float: right; }

.pull-left { float: left; }

.show { display: block; }

.noshow { display: none; }

.visible { visibility: visible; }

.hidden { visibility: hidden; }
