// Color scheme

$white: #ffffff;
$gray-lighter: #eeeeee;
$gray-light: #999999;
$gray: #555555;
$gray-dark: #333333;
$gray-darker: #222222;
$black: #000000;

$main-gray: $gray-light;
$main-gray-inverse: $gray-darker;

$transparent-black: rgba(0,0,0,0.1);
$transparent-white: rgba(255,255,255,0.1);
$translucent-black: rgba(0,0,0,0.5);
$translucent-white: rgba(255,255,255,0.5);
$opaque-black: rgba(0,0,0,0.9);
$opaque-white: rgba(255,255,255,0.9);

$background-color: $white;
$text-color: $gray-darker;
$heading-color: $gray-dark;
$subheading-color: $gray-light;

// Accent colors

$red: #be2d2d;
$orange: #eb9f28;
$yellow: #e5c326;
$green: #79a926;
$blue: #2c7fb3;
$purple: #6526a6;
$pink: #d237ba;

// Derivatives of accent colors

$red-lighter: lighten($red, (lightness($red) * 0.9));
$red-light: lighten($red, 15%);
$red-dark: darken($red, 10%);
$orange-lighter: lighten($orange, (lightness($orange) * 0.65));
$orange-light: lighten($orange, 15%);
$orange-dark: darken($orange, 10%);
$yellow-lighter: lighten($yellow, (lightness($yellow) * 0.45));
$yellow-light: lighten($yellow, 15%);
$yellow-dark: darken($yellow, 10%);
$green-lighter: lighten($green, (lightness($green) * 0.9));
$green-light: lighten($green, 15%);
$green-dark: darken($green, 10%);
$blue-lighter: lighten($blue, (lightness($blue) * 0.9));
$blue-light: lighten($blue, 15%);
$blue-dark: darken($blue, 10%);
$purple-lighter: lighten($purple, (lightness($purple) * 0.9));
$purple-light: lighten($purple, 15%);
$purple-dark: darken($purple, 10%);
$pink-lighter: lighten($pink, (lightness($pink) * 0.65));
$pink-light: lighten($pink, 15%);
$pink-dark: darken($pink, 10%);

// Color lists

$grayscale-colors: (
  "white" $white,
  "gray-lighter" $gray-lighter,
  "gray-light" $gray-light,
  "gray" $gray,
  "gray-dark" $gray-dark,
  "gray-darker" $gray-darker,
  "black" $black
);

$accent-colors: (
  "red" $red,
  "orange" $orange,
  "yellow" $yellow,
  "green" $green,
  "blue" $blue,
  "purple" $purple,
  "pink" $pink
);

$derivative-colors: (
  "red-lighter" $red-lighter,
  "red-light" $red-light,
  "red-dark" $red-dark,
  "orange-lighter" $orange-lighter,
  "orange-light" $orange-light,
  "orange-dark" $orange-dark,
  "yellow-lighter" $yellow-lighter,
  "yellow-light" $yellow-light,
  "yellow-dark" $yellow-dark,
  "green-lighter" $green-lighter,
  "green-light" $green-light,
  "green-dark" $green-dark,
  "blue-lighter" $blue-lighter,
  "blue-light" $blue-light,
  "blue-dark" $blue-dark,
  "purple-lighter" $purple-lighter,
  "purple-light" $purple-light,
  "purple-dark" $purple-dark,
  "pink-lighter" $pink-lighter,
  "pink-light" $pink-light,
  "pink-dark" $pink-dark
);

$main-colors: join($accent-colors, $derivative-colors, comma);

$all-colors: join($grayscale-colors, $main-colors, comma);

// Typography

$sans-serif-primary: "Titillium Web", Arial, sans-serif;
$sans-serif-secondary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$monospaced: "Ubuntu Mono", "Courier New", monospace;

$base-font-size: 16px;
$base-line-height: 22px;

// Links

$hover-lighten: 10%;
$active-lighten: 20%;

// Layout and grid, see _layouts.scss

$grid-fixed-width: 960px;
$grid-num-columns: 12;
$grid-column-width-with-gutter: ($grid-fixed-width / $grid-num-columns);
$grid-gutter-width: 10px;
$grid-column-width: $grid-column-width-with-gutter - ($grid-gutter-width * 2);
$grid-row-height: $grid-column-width;
$grid-row-height-with-gutter: $grid-column-width-with-gutter;

// Misc.

$small-border-radius: 2px;

// Transitions

$transition-durations: (
  "faster" 0.05s,
  "fast" 0.1s,
  "medium" 0.5s,
  "slow" 1.5s
);
