// Color scheme

$black: #000000;
$gray-darker: #222222;
$gray-dark: #333333;
$gray: #555555;
$gray-light: #999999;
$gray-lighter: #eeeeee;
$white: #ffffff;

$transparent-black: rgba(0,0,0,0.1);
$transparent-white: rgba(255,255,255,0.1);
$translucent-black: rgba(0,0,0,0.5);
$translucent-white: rgba(255,255,255,0.5);
$opaque-black: rgba(0,0,0,0.9);
$opaque-white: rgba(255,255,255,0.9);

$background-color: $white;
$text-color: $gray-darker;
$heading-color: $gray-dark;
$subheading-color: $gray-light;

// Accent colors

$red: #be2d2d;
$orange: #eb9f28;
$yellow: #e5c326;
$green: #79a926;
$blue: #2c7fb3;
$purple: #6526a6;
$pink: #d237ba;

// Typography

$sans-serif-primary: "Titillium Web", Arial, sans-serif;
$sans-serif-secondary: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$monospaced: "Ubuntu Mono", "Courier New", monospace;

$base-font-size: 16px;
$base-line-height: 22px;

// Layout and grid, see _layouts.scss

$grid-fixed-width: 960px;
$grid-num-columns: 12;
$grid-column-width-with-gutter: ($grid-fixed-width / $grid-num-columns);
$grid-gutter-width: 10px;
$grid-column-width: $grid-column-width-with-gutter - ($grid-gutter-width * 2);

// Misc.

$small-border-radius: 2px;
